@import "./pages/vars.scss";
@import "~antd/dist/antd.css";

body,
html {
  margin: 0;
  padding: 0;
  background: $background-gradient-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

body {
  @include custom-scrollbar;
}

.app-content {
  position: relative;
  // height: calc(100% - $navbar-height);
  // height: 100%;
  padding-top: $navbar-height;
}

.hide {
  display: none;
}

.prevent-default-a {
  @include prevent-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}
