@import "../vars.scss";

.new-post {
  color: $text-color;
  margin: 30px auto;
  width: calc($home-width/2);
  height: fit-content;
  @include border();
  @include drop-shadow($color: $border-color);
  background: $background-component-gradient-color;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 30px;

  @include on-tablet {
    margin: 0;
    width: auto;
  }

  .new-post-title {
    color: $special-text-color;
    // margin-bottom: 10px;
  }

  .new-post-field-title {
    margin: 5px;
  }

  .new-post-privacy {
    text-align: center;

    .new-post-inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 5px;

      .new-post-checkbox-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .new-post-input-radio {
          @include input-radio-style;
        }

        .new-post-input-label {
          cursor: pointer;

          font-size: 10px;
        }
      }
    }
  }

  .new-post-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative;

    .new-post-text-input {
      font-size: 20px;
      padding: 15px;
      resize: none;
      width: 65%;
    }

    .new-post-text-length {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .new-post-images {
    position: relative;
    width: 100%;
    text-align: center;

    .new-post-image-list {
      width: calc(100% - 20px);
      @include border();
      padding: 10px;
    }
  }

  .new-post-buttons {
    display: flex;
    gap: 20px;
    align-items: center;

    .new-post-reset-button {
      @include button-style($color: red);
    }

    .new-post-post-button {
      @include button-style();
    }
  }
}
