@import "../vars.scss";

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px 30px;
  margin: 30px auto;
  background: $background-component-gradient-color;
  @include border;
  border-radius: 5px;
  @include drop-shadow($color: $border-color);
  color: $text-color;
  padding: 30px;
  position: relative;
  width: fit-content;
  max-width: 100%;
  text-align: left;

  @include on-tablet {
    margin: 30px 10px;
    width: auto;
  }

  .profile-first-column {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 35px;

    .profile-avatar {
      @include avatar-image(150px);
      padding: 7px;
      @include border();

      @include on-tablet {
        @include avatar-image(100px);
        padding: 4px;
      }
    }

    .profile-following {
      display: flex;
      justify-content: flex-start;
      gap: 35px;
      font-size: larger;

      .profile-follow-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        span {
          font-size: x-large;
        }
      }
    }
  }

  .profile-username {
    color: $special-text-color;
  }

  .profile-bio {
    strong {
      width: 100%;
      word-wrap: normal;
      word-break: normal;
    }

    text-align: left;
    grid-area: bio;
    max-width: 350px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .profile-last-column {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .profile-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 5px 0;

      .profile-edit-button {
        color: #231e39;
        border-radius: 3px;
        cursor: pointer;
        @include prevent-link($text-color);
        @include button-style(20px, 1, 10px, $color: $profile-button-color);

        // &:hover {
        //     transform: scale(1.25);
        // }
      }

      button {
        color: $text-color;
      }

      .profile-follow {
        @include button-style(20px, 1, 10px, $color: $follow-button-color);
      }

      .profile-unfollow {
        @include button-style(20px, 1, 10px, $color: $unfollow-button-color);
      }

      .profile-message {
        @include button-style(
          20px,
          1,
          10px,
          $color: $send-message-button-color
        );
      }
    }

    .profile-characteristics {
      background-color: $navbar-background-color;
      text-align: left;
      padding: 15px;
      max-width: 250px;
    }
  }
}

.profile-posts-container {
  color: $text-color;
  padding: 30px;
  position: relative;
  width: fit-content;
  max-width: 100%;
  margin: 30px auto;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include on-tablet {
    margin: 30px 0;
    width: auto;
  }
}
