@import "./mixins.scss";
@import "./colors.scss";

$text-color: black;

$special-text-color: #1890ff;

$background-color: rgb(202, 202, 202);

$component-background: #1890ff;

$background-gradient-color: linear-gradient(
  lighten($background-color, 7%),
  darken($background-color, 7%)
);

$background-component-gradient-color: linear-gradient(
  darken($background-color, 3%),
  darken($background-color, 7%)
);

$button-background-color: white;

$button-color: white;

$home-width: 70%;

$navbar-height: 60px;

$border-color: darken($component-background, 10%);

$navbar-background-color: $background-gradient-color;

$top-footer-bar-height: 70px;

$top-footer-bar-background-color: $background-gradient-color;

$left-bar-background-color: $background-gradient-color;

$basic-button-color: $component-background;

$follow-button-color: #e7351d;

$unfollow-button-color: #968a88;

$send-message-button-color: #ab63fd;

$profile-button-color: #e99e14;
