@import "../vars.scss";

.post-page {
  width: calc($home-width / 2);
  margin: 20px auto;

  @include on-tablet {
    margin: 20px 0;
    width: 100%;
  }
}

.page-error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  a {
    @include prevent-link;
  }
  button {
    @include button-style;
  }
}
